#title{
    text-align: center;
}

#startup_container{
    width: 100%;
    margin: auto;
    height: 100%;
}

#startup_container > div > h3 {
    text-align: center;
    margin-top: 50%;
    
}

#amount_of_games_container{
    display: flex;
    justify-content: space-between;
}

#game_container {
    display: none;
}

#score_container {
    display: flex;
    justify-content: space-between;
}

#score_container > div > p {
    text-align: center;
}

#animation_container {
    border: 2px solid black;
    height: 600px;
    width: 50%vw;
    position: relative;
}

#choice_container {
    display: flex;
    justify-content: space-between;
}

#results {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 45px;

}