* {
    overflow: hidden;
}
#title{
    text-align: center;
}

#startup_container{
    width: 100%;
    margin: auto;
    height: 100%;
}

#startup_container > div > h3 {
    text-align: center;
    margin-top: 25%;
    
}

#amount_of_games_container{
    display: flex;
    justify-content: space-between;
}

#game_container {
    display: none;
    position: relative;
    width: 100%;
    
}

#score_container {
    display: flex;
    justify-content: space-between;
}

#score_container > div > p {
    text-align: center;
}

#animation_container {
    border: 2px solid black;
    display: block;
    height: 500px;
    
}


#choice_container {
    display: flex;
    justify-content: space-between;
    width: inherit;
    position: fixed;
    bottom: 25px;
    
}

#animation_container {
    display: flex;
    justify-content: space-between;
}


#results {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 45px;

}

button {
    margin: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#rock, #paper, #scissors{
    width: 125px;
    height: 125px;
    margin: 15px;
    
}

#player_choice_img, #computer_choice_img {
    margin-top: 35%;
}

#player_choice_img > img, #computer_choice_img> img{
    width: 120px;
    height: 120px;
}